.text {
  color: #f4ddc8;
  text-align: center;
  padding: 8px;
  font-size: 20px;
  vertical-align: middle;
  margin-top: 10px;
}

.selection {
  color: #f4ddc8;
  background-color: #55111d;
  align-content: center;
  padding: 8px;
  margin: 0px 0px 20px 0px;
  width: 250px;
  border-radius: 10px;
}

.textField {
  color: #f2e0cf;
  background-color: #55111d;
  text-align: center;
  width: 250px;
  padding: 8px;
  border-radius: 10px;
  margin-bottom: 20px;
  height: 35px;
  color-scheme: dark;
}

.textForm {
  color: #010101;
  background-color: #aeaaaa;
  text-align: center;
  width: 200px;
  padding: 10px;
  border: 0px;
  border-radius: 10px;
  height: 30px;
  color-scheme: dark;
  vertical-align: middle;
}

::placeholder {
  color: #f2e0cf;
}

.button {
  color: #f2e0cf;
  background-color: #55111d;
  text-align: center;
  padding: 5px;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 900;
  border-radius: 20px;
  width: 180px;
  margin: 5px;
  cursor: pointer;
}

.reset-button {
  color: #ffffff;
  background-color: #bd8814;
  text-align: center;
  padding: 5px;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 900;
  border-radius: 20px;
  width: 180px;
  margin: 5px;
  cursor: pointer;
}

.form {
  margin-top: 50px;
  text-align: center;
}

.inline {
  display: inline-block;
  margin-bottom: 15px;
}

.inlineName {
  display: inline-block;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 15px;
}

.main-align {
  margin-top: 100px;
  align-content: center;
  text-align: center;
}

table {
  border: 2px solid #55111d;
  width: 90%;
  text-align: center;
  margin-left: 5%;
}

th {
  border-bottom: 1px solid black;
}

td {
  text-align: center;
  width: 15%;
  height: 40px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #55111d;
  color: white;
}

.simple-text {
  color: #450e18;
}

.items {
  color: #450e18;
  font-weight: 900;
  font-size: 1.2rem;
}

.inputUser {
  color: #f2e0cf;
  background-color: #55111d;
  text-align: center;
  width: 250px;
  padding: 8px;
  border-radius: 10px;
  margin-bottom: 0px;
  height: 35px;
  color-scheme: dark;
  vertical-align: middle;
}
