.text {
  color: #f4ddc8;
  text-align: center;
  padding: 8px;
  font-size: 20px;
  vertical-align: middle;
  margin-top: 10px;
}

.selection {
  color: #f4ddc8;
  background-color: #55111d;
  align-content: center;
  padding: 8px;
  margin: 0px 0px 20px 0px;
  width: 250px;
  border-radius: 10px;
}

.textField {
  color: #f2e0cf;
  background-color: #55111d;
  text-align: center;
  width: 250px;
  padding: 8px;
  border-radius: 10px;
  margin-bottom: 20px;
  height: 35px;
  color-scheme: dark;
}

::placeholder {
  color: #f2e0cf;
}

.button {
  color: #f2e0cf;
  background-color: #55111d;
  text-align: center;
  padding: 5px;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 900;
  border-radius: 20px;
  width: 180px;
  margin: 5px;
  cursor: pointer;
}

.form {
  margin-top: 50px;
  text-align: center;
}

.inline {
  display: inline-block;
  margin-bottom: 15px;
}

.inlineName {
  display: inline-block;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 15px;
}

.main-align {
  margin-top: 100px;
  align-content: center;
  text-align: center;
}
